In [ ]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.datasets import load_boston
df = load_boston()

In [ ]:
df.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [ ]:
print(df.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [ ]:
boston = pd.DataFrame(df.data, columns= df.feature_names)
no_houses = len(boston.index)
print("NUMBER OF HOUSES IN BOSTON = ",no_houses)
boston.head()

NUMBER OF HOUSES IN BOSTON =  506

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
boston['TARG']= df.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  TARG
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
TARG       0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X= boston.drop('TARG',axis=1)
Y= boston['TARG']
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=0.15, random_state=5)

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 13)
(76, 13)
(430,)
(76,)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

lin_model= LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
Y_train_predict= lin_model.predict(X_train)
Trmse= np.sqrt(mean_squared_error(Y_train, Y_train_predict))

print("THE MODEL PERFORMANCE FOR TRAINING SET")
print("ROOT MEAN SQUARED ERROR = {}".format(Trmse))
print("\n")
Y_test_predict= lin_model.predict(X_test)
TErmse= np.sqrt(mean_squared_error(Y_test, Y_test_predict))

print("THE MODEL PERFORMANCE FOR TESTING SET")
print("ROOT MEAN SQUARED ERROR = {}".format(TErmse))

THE MODEL PERFORMANCE FOR TRAINING SET
ROOT MEAN SQUARED ERROR = 4.710901797319795


THE MODEL PERFORMANCE FOR TESTING SET
ROOT MEAN SQUARED ERROR = 4.687543527902971